@font-face {
  font-family: Pokemon;
  src: url(./fonts/Pokemon\ Solid.ttf);
}
h1 {
  font-family: Pokemon;
  font-size: 7em;
  color: yellow;
  text-shadow: 5px 5px rgb(0, 0, 255), -5px -5px rgb(0, 0, 255), 0px 0px 20px rgb(0, 0, 255);
  letter-spacing: 5px;
  margin-left: 200px;
}
.App {
  text-align: left;
}
