@font-face {
  font-family: Pokemon;
  src: url(./fonts/Pokemon\ Solid.ttf);
}
h1 {
  font-family: Pokemon;
  font-size: 5em;
  color: yellow;
  text-shadow: 5px 0px #160079;
  letter-spacing: 5px;
}
.App {
  text-align: center;
}