.btn {
    padding: 15px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 0px 10px blue ;

}

.btn:hover {
    background-color: aqua;
    color: blue;
}

.btn-disabled {
    background-color: grey;
    color: rgb(34, 29, 29);
    cursor: not-allowed;
    pointer-events: none;
}