.pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    min-width: 25%;
    max-width: 832px;
    margin: 10px auto 50px;
    border: 1px gray solid;
    border-radius: 10px;
    box-shadow: 0px 0px 15px blue ;
  }

  img {
      width: 200px;
  }
